<a href="https://colab.research.google.com/github/afananasieu/CleanUp/blob/main/project_algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First of all we have imported our data set with all the variables needed to carry out the service process of our app. After this we created a new data set that will include only the values we need (day, time and intensity) to ask the user what features he wants to request for the service. After this we have created an empty list and through a for loop we have filled it with the elements of the previously created data set. Once this is done, we have generated through inputs questions that will be answered by the user in relation to the variables created in our new data set. Finally we have cosined the answers obtained and the values in the dataset and through the use of the cosine function together with the for loop we will make the users requesting the service and the cleaners reach a common point to carry out the service.

In [ ]:
import pandas as pd
import math
import numpy as np

In [ ]:
##import data set with pandas
dataset_original = pd.read_excel("Cleanup_database.xlsx")
dataset_original

,Nombre,Zona,Dia,Hora,Intensidad,Dia_numero,Hora_numero,intensidad_numero
0,Isabel Fernandez,Arganzuela,week,mañana,High,1,1,1
1,Marian Dolores,Barajas,weekend,tarde,Medium,2,2,2
2,Carmen Perez,Barrio Salamanca,weekend,noche,High,2,3,1
3,Pablo Martinez,Carabanchel,week,mañana,Medium,1,1,2
4,Carlos Gutierrez,Centro,weekend,tarde,Low,2,2,3
5,Ana Prada,Chamartín,weekend,tarde,High,2,2,1
6,Carmen Solorzano,Chamberí,weekend,mañana,Medium,2,1,2
7,Paula Buide,Ciudad Lineal,week,madrugada,Low,1,4,3
8,Ana Rodriguez,Fuencarral,weekend,noche,High,2,3,1
9,Maira Carrascosa,Latina,weekend,mañana,Medium,2,1,2
10,Eugenia Rodriguez,Moncloa,week,tarde,High,1,2,1
11,Maria Alvarez,Moratalaz,week,madrugada,Low,1,4,3
12,Marta Martinez,Puente de Vallecas,weekend,mañana,Medium,2,1,2
13,Pablo Motos,Retiro,week,madrugada,Medium,1,4,2
14,Dolores Perez,San Blas,weekend,tarde,Low,2,2,3
15,Carmen Alvarez,Usera,weekend,noche,High,2,3,1
16,Roberta Codesido,Arganzuela,week,tarde,High,1,2,1
17,Roberto Codesido,Barajas,weekend,mañana,Low,2,1,3
18,Carlos Gil,"Barrio Salamanca,",week,madrugada,High,1,4,1
19,Alvaro Garcia,Carabanchel,week,tarde,High,1,2,1
20,Ignacio Gimenez,Centro,weekend,noche,Low,2,3,3
21,Rodrigo Perez,Chamartín,week,madrugada,High,1,4,1
22,Gimena Alvarez,Chamberí,weekend,mañana,Low,2,1,3
23,Maria Andrade,Ciudad Lineal,week,madrugada,High,1,4,1
24,Marta Rodriguez,Fuencarral,week,noche,Low,1,3,3
25,Rodrigo Armesto,Latina,weekend,mañana,High,2,1,1
26,Pablo Villares,Moncloa,week,madrugada,Low,1,4,3
27,Lucia Vazquez,Moratalaz,weekend,noche,High,2,3,1
28,Raquel Rodriguez,Puente de Vallecas,weekend,noche,High,2,3,1
29,Iago Vazquez,Retiro,week,mañana,Low,1,1,3
30,Miguel Martinez,San Blas,weekend,noche,High,2,3,1
31,Violeta Perez,Usera,week,mañana,Low,1,1,3

In [ ]:
## Get a dataset with only the values we need (Day number, Time number & Intensity number)
dataset_trabajo = dataset_original[['Dia_numero', 'Hora_numero', 'intensidad_numero']]
lista = []
for i in range(0,32):
  lista.append(list(dataset_trabajo.iloc[i]))

In [ ]:
# search question

customer_desired_zone= input("Where do you live? ")
customer_desired_day= (int(input( "Which day do you want to crontract our service?, NOTE:  week=1,  weekend=2.  ")))
customer_desired_hour= (int(input("At what hour do you want to contract our service? NOTE: mañana=1, tarde=2, noche=3, madrugada=4.   ")))
customer_desired_intensity= (int(input("Which intensity do you prefer? NOTE: high=1, Medium=2, Low=3.   ")))
answers_customer=[]
answers_customer.append(customer_desired_day)
answers_customer.append(customer_desired_hour)
answers_customer.append(customer_desired_intensity)

# We cosine the answers obtained
coseno_calculado_answers= np.cos(answers_customer)

# We cosine the values in the dataset
lista_coseno = []
for i in range(0,32):
  lista_coseno.append(np.cos(lista[i]))

# Comparison of cosines
lista_division = []
for i in range(0,32):
  lista_division.append(lista_coseno[i] / coseno_calculado_answers)

perfect_position = []
no_perfect_position = []
no_perfect_position2= []
for i in range(0,32):
  #Case when the elements entered are the same as elements of the datase.
  if sum(lista_division[i]) == 3.:
    perfect_position.append(i)
    # Case when the elements entered are not the same as elements of the dataset. Also we offer the cutomer other options.
  elif 2.5 <= sum(lista_division[i]) <= 3.5:
    no_perfect_position.append(i)
  elif 2.0 <= sum(lista_division[i]) <= 4.0:
    no_perfect_position2.append(i)

for i in range(0, len(perfect_position)):
  print(f" your perfect result is: {dataset_original.iloc[perfect_position[i]]}")

for i in range(0, len(no_perfect_position)):
  print(f"This are not a perfect match for your requirements but these are your most compatible results: {dataset_original.iloc[no_perfect_position[i]]}")

for i in range(0, len(no_perfect_position2)):
  print(f"This are not a perfect match for your requirements but these are your most compatible results:{dataset_original.iloc[no_perfect_position2[i]]}")

Where do you live? moncloa
Which day do you want to crontract our service?, NOTE:  week=1,  weekend=2.  2
At what hour do you want to contract our service? NOTE: mañana=1, tarde=2, noche=3, madrugada=4.   3
Which intensity do you prefer? NOTE: high=1, Medium=2, Low=3.   1
 your perfect result is: Nombre                   Carmen Perez
Zona                 Barrio Salamanca
Dia                          weekend
Hora                           noche
Intensidad                       High
Dia_numero                          2
Hora_numero                         3
intensidad_numero                   1
Name: 2, dtype: object
 your perfect result is: Nombre               Ana Rodriguez
Zona                    Fuencarral
Dia                       weekend
Hora                        noche
Intensidad                    High
Dia_numero                       2
Hora_numero                      3
intensidad_numero                1
Name: 8, dtype: object
 your perfect result is: Nombre               Carmen Alvarez
Zona                          Usera
Dia                        weekend
Hora                         noche
Intensidad                     High
Dia_numero                        2
Hora_numero                       3
intensidad_numero                 1
Name: 15, dtype: object
 your perfect result is: Nombre               Lucia Vazquez
Zona                     Moratalaz
Dia                       weekend
Hora                        noche
Intensidad                    High
Dia_numero                       2
Hora_numero                      3
intensidad_numero                1
Name: 27, dtype: object
 your perfect result is: Nombre                 Raquel Rodriguez
Zona                 Puente de Vallecas
Dia                            weekend
Hora                             noche
Intensidad                         High
Dia_numero                            2
Hora_numero                           3
intensidad_numero                     1
Name: 28, dtype: object
 your perfect result is: Nombre               Miguel Martinez
Zona                        San Blas
Dia                         weekend
Hora                          noche
Intensidad                      High
Dia_numero                         2
Hora_numero                        3
intensidad_numero                  1
Name: 30, dtype: object
This are not a perfect match for your requirements but these are your most compatible results:Nombre               Ana Prada
Zona                 Chamartín
Dia                   weekend
Hora                     tarde
Intensidad                High
Dia_numero                   2
Hora_numero                  2
intensidad_numero            1
Name: 5, dtype: object